= content_for :title do
  Corsego
  \|
  Online Course - Learn Anything, On Your Schedule

.container-fluid.bg-secondary.text-light.p-5
  .container.bg-secondary.p-5
    .display-4
      What do you want to learn today?

    .p-4

    - if current_user
      = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
        .input-group
          =f.search_field :title_or_short_description_cont, class: 'form-control-sm', style: 'float:left; width:150px;', placeholder: 'Find a course'
          %span.input-group-append
            %button.btn.btn-primary.btn-sm{:type => "submit"}
              %span.fa.fa-search{"aria-hidden" => "true"}
    /.form-inline.my-2.my-lg-0
    /  = form_tag(courses_path, method: :get) do
    /    .input-group
    /      = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
    /      %span.input-group-append
    /        %button.btn.btn-primary.btn-sm{:type => "submit"}
    /          %span.fa.fa-search{"aria-hidden" => "true"}

.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh courses
  
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
    = Course.distinct.count(:user_id)
    expert intructors
    .row
    Find the right instructor for you
  
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule

%p

- if current_user
  %h2
    .fa.fa-user-graduate
    Continue Learning
  .row.row-cols-1.row-cols-md-3.g-4
    - @purchased_courses.each do |course|
      = render 'courses/course', course: course
  .text-end
    = link_to 'All my purchased courses', purchased_courses_path
  %hr

%h2
  .fa.fa-chart-line
  Popular courses
.row.row-cols-1.row-cols-md-3.g-4
  - @popular.each do |course|
    = render 'courses/course', course: course
.text-end
  = link_to 'More popular courses', courses_path(courses_search: {s: 'enrollments_cout desc'})
%hr
%h2
  .fa.fa-star
  Top rated courses
.row.row-cols-1.row-cols-md-3.g-4
  - @top_rated.each do |course|
    = render 'courses/course', course: course
.text-end
  = link_to 'Best rated courses', courses_path(courses_search: {s: 'average_rating desc'})
%hr
%h2
  .fa.fa-clock
  Latest courses
.row.row-cols-1.row-cols-md-3.g-4
  - @latest.each do |course|
    = render 'courses/course', course: course
.text-end
  = link_to 'More new courses', courses_path(courses_search: {s: 'created_at desc'})
%hr
%h2
  .fa.fa-comment
  What our students have to say
.row.row-cols-1.row-cols-md-3.g-4
  - @latest_good_reviews.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment
%hr
