.card
  .card-header
    = comment.created_at.strftime('%d-%m-%Y %H:%m')
    (#{time_ago_in_words(comment.created_at)} ago)
    = link_to comment.user, user_path(comment.user)
    = link_to "Destroy", [@course, @lesson, comment], method: :delete, data: { confirm: "Are you sure?" }
  .card-body
    = comment.content