= content_for :title do
  Corsego
  \|
  All Enrollments

%h3
  .text-center
    Enrollments
    .badge.bg-info
      = @enrollments.count

.table-responsive
  %table.table.table-bordered.table-striped.table-sm
    %thead
      %tr
        %th ID
        %th
        minuto 2:55
          .fa.fa-clock 
          .fa.fa-lock-open
          Bought
        %th 
          .fa.graduation-cap
          Course
        %th 
          .fa.fa-user
          User
        %th Rating
        %th Review
        %th Price
        %th
        %th
        %th

    %tbody
      - @enrollments.each do |enrollment|
        %tr
          %td= enrollment.id
          %td= enrollment.created_at.strftime("%d/%b/%Y - %H:%M")
          %td= link_to enrollment.course, course_path(enrollment.course)
          %td= link_to enrollment.user, user_path(enrollment.user)
          %td= enrollment.rating
          %td= enrollment.review
          %td= number_to_currency(enrollment.price) 
          %td= link_to 'Show', enrollment
          %td= link_to 'Edit', edit_enrollment_path(enrollment)
          %td= link_to 'Destroy', enrollment, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Enrollment', new_enrollment_path
