.card
  .card-header
    - if lesson.viewed(current_user) == true
      .text-success.far.fa-check-square
    - else
      .text-danger.far.fa-check-square
    /.far.fa-check-square
    = link_to lesson.title, course_lesson_path(@course, lesson)
  - if policy(lesson).show?
    .card-body
    /= @lesson.video.attached?
    /= @lesson.video_thumbnail.attached?
    /= image_tag @lesson.video_thumbnail
    - if @lesson.video.attached?
      / native way
      %video(controls="true" poster="#{url_for @lesson.video_thumbnail if @lesson.video_thumbnail.present?}" width="100%" height="300px" preload="metadata")
        / no curso, esssa parte tem outro if/else pra video tem thumb/nao tem, mas aqui no poster eu consegui fazer mais clean com esse ternario que ja resolve a coisa
        %source{src: rails_blob_url(@lesson.video), type:"#{@lesson.video.content_type}"}
    
      / video.js way
      / = content_tag :video, id: 'my-video' do
      /   = tag :source, src: url_for(@lesson.video), type: @lesson.video.content_type 
    = lesson.content
  - if policy(lesson).edit?
    .card-footer
      = link_to 'edit', edit_course_lesson_path(@course, lesson), class: 'btn btn-sm btn-warning'
      = link_to 'destroy', [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
  .card-footer
    - unless lesson.prev.nil?
      .float-start
        = link_to course_lesson_path(@course, lesson.prev), class: 'btn btn-sm btn-info' do
          .fa.fa-arrow-left
          Previous
    - unless lesson.next.nil?
      .float-end
        = link_to course_lesson_path(@course, lesson.next), class: 'btn btn-sm btn-info' do
          Next
          .fa.fa-arrow-right
%p