= content_for :title do
  Corsego
  \/
  Course
  = @course.title
  \/
  New lesson

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
\/
New
%p

.card
  .card-header.flex
    %h3
      .far.fa-check-square
      New lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back', course_path(@course)
