= content_for :title do
  Corsego
  \/
  Course
  = @course.title
  \/
  Lesson
  = @lesson.title

= link_to 'Courses', courses_path
\/
= link_to @lesson.course.title, course_path(@lesson.course)
\/
= link_to @lesson.title, course_lesson_path(@course, @lesson)
%p

.row
  .col-lg-8
    = render 'lessons/lesson', lesson: @lesson
    %p
    %h4
      .fa.fa-comment
      Comments:
      = @lesson.comments_count 
    .card
      .card-body
        New Comment
      .card-body
        = render 'lessons/comments/form'
    %p
    - @comments.each do |comment|
      = render 'lessons/comments/comment', comment: comment
      %p


  .col-lg-4
    %ul.list-group
      %li.list-group-item
        = link_to course_path(@lesson.course) do
          .fa.fa-graduation-cap
          = @lesson.course.title
        .row
        .fa.fa-spinner
        = number_to_percentage(@course.progress(current_user), precision: 0)
      - @lessons.each do |lesson|
        - if @lesson.present? && lesson == @lesson
          %li.list-group-item.list-group-item-success
            = render 'lessons/lesson_preview', lesson: lesson
        - else
          %li.list-group-item
            = render 'lessons/lesson_preview', lesson: lesson
