= content_for :title do
  Corsego 
  = action_name.humanize
  courses

%h3
  .text-center
    = action_name.humanize
    Courses
    .badge.bg-info
      = @courses.count

%p
.row
  .col-md-2
    .form-inline
      /= search_form_for @q do |f|
      = search_form_for @ransack_courses, as: :courses_search, url: @ransack_path do |f|
        = f.label :title
        = f.search_field :title_cont, placeholder: "Title", class: 'form-control form-control-sm'
        = f.label :tag
        = f.search_field :course_tags_tag_name_cont, placeholder: "Tag name", class: 'form-control form-control-sm'
        = f.label :description
        = f.search_field :short_description_cont, placeholder: "Description", class: 'form-control form-control-sm'
        = f.label :lang
        = f.select :language_cont, Course.languages, include_blank: true
        = f.label :level
        = f.select :level_cont, Course.levels, include_blank: true
        = f.label :price
        = f.search_field :price_eq, placeholder: "Price", class: 'form-control form-control-sm'
        = f.label :teacher
        = f.search_field :user_email_cont, placeholder: "User email", class: 'form-control form-control-sm'
        .row
        = sort_link(@ransack_courses, :price)
        .row
        = sort_link(@ransack_courses, :average_rating, "Top Rated")
        .row
        = sort_link(@ransack_courses, :enrollments_count, "Most Popular")
        .row
        = sort_link(@ransack_courses, :created_at, "Fresh")
        .row
        = f.submit
      = link_to 'refresh', @ransack_path

      .row
      - @tags.order(course_tags_count: :desc).each do |tag|
        = link_to controller: controller_name, action: action_name, courses_search: {course_tags_tag_id_eq: tag.id} do
          .badge.bg-info
            = tag.name
            = tag.course_tags_count

  .col-md-10
    .row.row-cols-1.row-cols-md-3.g-4
      - @courses.each do |course|
        = render 'courses/course', course: course
    /!=pagy_nav(@pagy)
    !=pagy_bootstrap_nav(@pagy)
%br
