= content_for :title do
  Corsego
  \|
  = @course.title

= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
%p

.row
  .col-lg-8.order-1.order-lg-1
    .container-fluid.bg-secondary.text-light.p-5
      .container.bg-secondary.py-5.px-0
        %h3
          .fa.fa-graduation-cap
          = @course.title
          /.row
          /- if @course.avatar.attached?
          /  = image_tag @course.avatar, width: "200px"
        .p-3
        .row 
        .fa.fa-clock
        = @course.updated_at.strftime('%m/%Y')
        .row 
        .fa.fa-globe-americas
        = @course.language
        .row
        .fa.fa-signal
        = @course.level
        .p-3
        = @course.description
    %p
    %h4
      .fa.fa-tasks
      = pluralize(@course.lessons_count, 'lesson')
      /Lessons:
      /= @course.lessons_count
      .float-end
        .fa.fa-spinner
        = number_to_percentage(@course.progress(current_user), precision: 0)
    %ul.list-group.lesson-sortable
      - @lessons.each do |lesson|
        = content_tag 'div', id: "lesson-#{lesson.id}", data: { model_name: lesson.class.name.underscore, update_url: course_lesson_sort_path(@course, lesson) } do
          %li.list-group-item
            = render 'lessons/lesson_preview', lesson: lesson
    %p

    %h4
      .fa.fa-comment
      = pluralize(@enrollments_with_review.count, 'review')
      /Reviews:
      /= @enrollments_with_review.count

    - @enrollments_with_review.each do |enrollment|
      = render 'enrollments/enrollment', enrollment: enrollment
      %p
  .col-lg-4.order-0.order-lg-1
    .sticky-top
      = render 'courses/course', course: @course
    %p

%h4 Similar Courses


.row
All course tags
- Course.all.where.not(id: @course.id).each do |course|
  .row
  - unless @course.tags.pluck(:id).intersection(course.tags.pluck(:id)).count.zero?
    .col-md-10
      .row.row-cols-1.row-cols-md-3.g-4
        = render 'courses/course', course: course
